In [1]:
#QUESTION 1
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# Number of sample employees
num_employees = 10

# Generating random data
np.random.seed(0)  # For reproducibility
employee_ids = np.arange(1, num_employees + 1)
names = [f'Employee_{i}' for i in range(1, num_employees + 1)]
ages = np.random.randint(22, 60, size=num_employees)
departments = np.random.choice(['Sales', 'HR', 'IT', 'Marketing'], size=num_employees)
salaries = np.random.randint(30000, 100000, size=num_employees)
joining_dates = [datetime.now() - timedelta(days=np.random.randint(1, 3650)) for _ in range(num_employees)]

# Creating the DataFrame
df = pd.DataFrame({
    'EmployeeID': employee_ids,
    'Name': names,
    'Age': ages,
    'Department': departments,
    'Salary': salaries,
    'JoiningDate': joining_dates
})

print(df)

   EmployeeID         Name  Age Department  Salary                JoiningDate
0           1   Employee_1   22      Sales   36921 2022-12-21 12:18:10.654237
1           2   Employee_2   25      Sales   68804 2022-11-09 12:18:10.654237
2           3   Employee_3   25         IT   97699 2023-03-27 12:18:10.654237
3           4   Employee_4   31         HR   67619 2016-03-23 12:18:10.654237
4           5   Employee_5   41         IT   37877 2016-12-09 12:18:10.654237
5           6   Employee_6   43  Marketing   31871 2023-11-18 12:18:10.654237
6           7   Employee_7   58  Marketing   32496 2015-11-03 12:18:10.654237
7           8   Employee_8   45         IT   77954 2015-11-26 12:18:10.654237
8           9   Employee_9   28      Sales   54675 2017-07-10 12:18:10.654237
9          10  Employee_10   46         HR   61921 2023-04-16 12:18:10.654237

In [2]:
#QUESTION 2
print(df.head())  # Displays the first 5 rows by default
print(df.tail())  # Displays the last 5 rows by default
print(df.info())  # Provides a summary including the data types and non-null counts
print(df.isnull().sum())  # Returns the number of null values in each column

#QUESTION 2

   EmployeeID        Name  Age Department  Salary                JoiningDate
0           1  Employee_1   22      Sales   36921 2022-12-21 12:18:10.654237
1           2  Employee_2   25      Sales   68804 2022-11-09 12:18:10.654237
2           3  Employee_3   25         IT   97699 2023-03-27 12:18:10.654237
3           4  Employee_4   31         HR   67619 2016-03-23 12:18:10.654237
4           5  Employee_5   41         IT   37877 2016-12-09 12:18:10.654237
   EmployeeID         Name  Age Department  Salary                JoiningDate
5           6   Employee_6   43  Marketing   31871 2023-11-18 12:18:10.654237
6           7   Employee_7   58  Marketing   32496 2015-11-03 12:18:10.654237
7           8   Employee_8   45         IT   77954 2015-11-26 12:18:10.654237
8           9   Employee_9   28      Sales   54675 2017-07-10 12:18:10.654237
9          10  Employee_10   46         HR   61921 2023-04-16 12:18:10.654237
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   EmployeeID   10 non-null     int32
 1   Name         10 non-null     object
 2   Age          10 non-null     int32
 3   Department   10 non-null     object
 4   Salary       10 non-null     int32
 5   JoiningDate  10 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int32(3), object(2)
memory usage: 492.0+ bytes
None
EmployeeID     0
Name           0
Age            0
Department     0
Salary         0
JoiningDate    0
dtype: int64

In [3]:
#QUESTION 3
filtered_df = df[(df['Department'] == 'Sales') & (df['Salary'] > 50000)]
print(filtered_df)
#QUESTION 3

   EmployeeID        Name  Age Department  Salary                JoiningDate
1           2  Employee_2   25      Sales   68804 2022-11-09 12:18:10.654237
8           9  Employee_9   28      Sales   54675 2017-07-10 12:18:10.654237

In [4]:

#QUESTION 4
avg_stats = df.groupby('Department')[['Age', 'Salary']].mean().reset_index()
print(avg_stats)
#QUESTION 4

  Department   Age        Salary
0         HR  38.5  64770.000000
1         IT  37.0  71176.666667
2  Marketing  50.5  32183.500000
3      Sales  25.0  53466.666667

In [6]:
#QUESTION 5
sorted_by_salary = df.sort_values(by='Salary', ascending=False)
print(sorted_by_salary)
sorted_by_dept_age = df.sort_values(by=['Department', 'Age'], ascending=[True, True])
print(sorted_by_dept_age)

#QUESTION 5

   EmployeeID         Name  Age Department  Salary                JoiningDate
2           3   Employee_3   25         IT   97699 2023-03-27 12:18:10.654237
7           8   Employee_8   45         IT   77954 2015-11-26 12:18:10.654237
1           2   Employee_2   25      Sales   68804 2022-11-09 12:18:10.654237
3           4   Employee_4   31         HR   67619 2016-03-23 12:18:10.654237
9          10  Employee_10   46         HR   61921 2023-04-16 12:18:10.654237
8           9   Employee_9   28      Sales   54675 2017-07-10 12:18:10.654237
4           5   Employee_5   41         IT   37877 2016-12-09 12:18:10.654237
0           1   Employee_1   22      Sales   36921 2022-12-21 12:18:10.654237
6           7   Employee_7   58  Marketing   32496 2015-11-03 12:18:10.654237
5           6   Employee_6   43  Marketing   31871 2023-11-18 12:18:10.654237
   EmployeeID         Name  Age Department  Salary                JoiningDate
3           4   Employee_4   31         HR   67619 2016-03-23 12:18:10.654237
9          10  Employee_10   46         HR   61921 2023-04-16 12:18:10.654237
2           3   Employee_3   25         IT   97699 2023-03-27 12:18:10.654237
4           5   Employee_5   41         IT   37877 2016-12-09 12:18:10.654237
7           8   Employee_8   45         IT   77954 2015-11-26 12:18:10.654237
5           6   Employee_6   43  Marketing   31871 2023-11-18 12:18:10.654237
6           7   Employee_7   58  Marketing   32496 2015-11-03 12:18:10.654237
0           1   Employee_1   22      Sales   36921 2022-12-21 12:18:10.654237
1           2   Employee_2   25      Sales   68804 2022-11-09 12:18:10.654237
8           9   Employee_9   28      Sales   54675 2017-07-10 12:18:10.654237

In [8]:
#QUESTION 6
#Find duplicates:
duplicates = df.duplicated()
print(duplicates)

#Drop duplicate rows:
df = df.drop_duplicates()

#QUESTION 6

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

In [11]:
print(df.columns.tolist())

df.columns = df.columns.str.strip()
#QUESTION 6

['EmployeeID', 'Name', 'Age', 'Department', 'Salary', 'JoiningDate']

In [12]:
#QUESTION 7
df['YearsInCompany'] = (datetime.now() - df['JoiningDate']).dt.days / 365.25
df['YearsInCompany'] = df['YearsInCompany'].round(1)  # Rounding to one decimal place
print(df)
#QUESTION 7

   EmployeeID         Name  Age Department  Salary                JoiningDate  \
0           1   Employee_1   22      Sales   36921 2022-12-21 12:18:10.654237
1           2   Employee_2   25      Sales   68804 2022-11-09 12:18:10.654237
2           3   Employee_3   25         IT   97699 2023-03-27 12:18:10.654237
3           4   Employee_4   31         HR   67619 2016-03-23 12:18:10.654237
4           5   Employee_5   41         IT   37877 2016-12-09 12:18:10.654237
5           6   Employee_6   43  Marketing   31871 2023-11-18 12:18:10.654237
6           7   Employee_7   58  Marketing   32496 2015-11-03 12:18:10.654237
7           8   Employee_8   45         IT   77954 2015-11-26 12:18:10.654237
8           9   Employee_9   28      Sales   54675 2017-07-10 12:18:10.654237
9          10  Employee_10   46         HR   61921 2023-04-16 12:18:10.654237

   YearsInCompany
0             2.1
1             2.2
2             1.8
3             8.8
4             8.1
5             1.2
6             9.2
7             9.1
8             7.5
9             1.8

In [21]:
#QUESTION 8

# Calculate the median salary
median_salary = df['Salary'].median()
print(f"Median Salary: {median_salary}")

# Create an AgeGroup column for age distribution
df['AgeGroup'] = pd.cut(df['Age'], bins=[20, 30, 40, 50, 60], labels=['20-29', '30-39', '40-49', '50-59'])

# Distribution of employees by age groups
age_group_distribution = df['AgeGroup'].value_counts()
print("\nDistribution of employees by age groups:")
print(age_group_distribution)

# Statistical summary of numerical columns
stat_summary = df.describe()
print("\nStatistical Summary of Numerical Columns:")
print(stat_summary)

# Example: Mean, median, and stan

#QUESTION 8

Median Salary: 58298.0

Distribution of employees by age groups:
AgeGroup
20-29    4
40-49    4
30-39    1
50-59    1
Name: count, dtype: int64

Statistical Summary of Numerical Columns:
       EmployeeID        Age        Salary                    JoiningDate  \
count    10.00000  10.000000     10.000000                             10
mean      5.50000  36.400000  56783.700000  2019-11-13 07:30:10.654236928
min       1.00000  22.000000  31871.000000     2015-11-03 12:18:10.654237
25%       3.25000  25.750000  37160.000000  2016-05-27 18:18:10.654236928
50%       5.50000  36.000000  58298.000000  2020-03-10 12:18:10.654236928
75%       7.75000  44.500000  68507.750000  2023-03-03 12:18:10.654236928
max      10.00000  58.000000  97699.000000     2023-11-18 12:18:10.654237
std       3.02765  11.852801  22054.221894                            NaN

       YearsInCompany
count       10.000000
mean         5.180000
min          1.200000
25%          1.875000
50%          4.850000
75%          8.625000
max          9.200000
std          3.583853

In [24]:
# QUESTION 9
high_earners = (df['Salary'] > 70000).sum()
percentage_high_earners = (high_earners / len(df)) * 100
print(percentage_high_earners)
# QUESTION 9

20.0

In [28]:
import pandas as pd

# Export to CSV
df.to_csv('employees.csv', index=False)
print("DataFrame exported to 'employees.csv'.")

DataFrame exported to 'employees.csv'.

In [29]:
try:
    import xlsxwriter
except ImportError:
    # Install xlsxwriter if it's not already installed
    get_ipython().system('pip install xlsxwriter')
    import xlsxwriter

import pandas as pd

# Export to CSV
df.to_csv('employees.csv', index=False)
print("DataFrame exported to 'employees.csv'.")

# Export to Excel with formatting
with pd.ExcelWriter('employees.xlsx', engine='xlsxwriter') as writer:
    df.to_excel(writer, sheet_name='Sheet1', index=False)

    # Access the workbook and worksheet objects
    workbook = writer.book
    worksheet = writer.sheets['Sheet1']

    # Set the format for the 'JoiningDate' column
    date_format = workbook.add_format({'num_format': 'yyyy-mm-dd'})
    worksheet.set_column('F:F', None, date_format)  # Assuming 'JoiningDate' is column F

print("DataFrame exported to 'employees.xlsx' with date formatting.")

Collecting xlsxwriter
  Obtaining dependency information for xlsxwriter from https://files.pythonhosted.org/packages/a7/ea/53d1fe468e63e092cf16e2c18d16f50c29851242f9dd12d6a66e0d7f0d02/XlsxWriter-3.2.0-py3-none-any.whl.metadata
  Downloading XlsxWriter-3.2.0-py3-none-any.whl.metadata (2.6 kB)
Downloading XlsxWriter-3.2.0-py3-none-any.whl (159 kB)
   ---------------------------------------- 0.0/159.9 kB ? eta -:--:--
   -- ------------------------------------- 10.2/159.9 kB ? eta -:--:--
   -------------- ------------------------ 61.4/159.9 kB 825.8 kB/s eta 0:00:01
   ---------------------------------------- 159.9/159.9 kB 1.4 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.2.0
DataFrame exported to 'employees.csv'.
DataFrame exported to 'employees.xlsx' with date formatting.